<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>Comfirm Order</title>
    <!-- 連結 HTML 和 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <!-- 連結 HTML 和 JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script></head>
<body>
    <h1>確認訂單</h1>
    <form action="/submit_order" method="post">
        <h2>訂購清單</h2>
        <ul>
            {% for item in order_list %}
            <li>車廂: {{ item['car_id'] }}, 座位: {{ item['seat_id'] }}, 票種: {{ item['ticket_type'] }}, 票價: {{ item['ticket_price'] }} 元</li>
            {% endfor %}
        </ul>
        <p>總價: {{ total_price }} 元</p>
        <h2>請輸入聯絡資訊</h2>
        <label for="name">姓名:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="id_no">身分證字號:</label>
        <input type="text" id="id_no" name="id_no" required>
        <br>
        <label for="phone">手機號碼:</label>
        <input type="tel" id="phone" name="phone">
        <br>
        <label for="mail">電子郵件信箱:</label>
        <input type="email" id="mail" name="mail">
        <br>
        <button type="submit">送出訂單</button>
    </form>
</body>
</html>
