<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>確認修改訂單資訊</title>
</head>
<body>
    <h1>確認修改訂單資訊</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <p>訂單編號: {{ order_details.order_id }}</p>
    <p>列車編號: {{ order_details.train_id }}</p>
    {% for seat in seats %}
        <li>
            車票 {{ loop.index }}
            <ul>
                <li>車廂: {{ seat[3:4] }}車</li>
                <li>座位: {{ seat[5: ]}}號</li>
            </ul>
        </li>
    {% endfor %}
    
    <form action="{{ url_for('confirm_modification') }}" method="POST">
        <input type="hidden" name="order_id" value="{{ order_details.order_id }}">
        <input type="hidden" name="selected_seats" value="{{ seats }}">
        <button type="submit">確認修改</button>
    </form>
    
    <form action="{{ url_for('modify_order') }}" method="POST">
        <input type="hidden" name="id_no" value="{{ id_no }}">
        <input type="hidden" name="order_id" value="{{ order_details.order_id }}">
        <button type="submit">返回修改</button>
    </form>
</body>
</html>
