<!DOCTYPE html>
<html>
<head>
    <title>Order Query</title>
</head>
<body>
    <h1>查詢訂單</h1>
    <br>
    <form method="POST" action="{{ url_for('look_at_my_order') }}">
        <label for="id_no">請輸入您的身分證字號(ex.A122222222):</label>
        <input type="text" id="id_no" name="id_no" required><br>
        <br>
        <label for="order_id">請輸入您的訂單編號:</label>
        <input type="text" id="order_id" name="order_id" required><br>
        <br>
        <input type="submit" value="查詢我的訂單">
    </form>

    {% if error_message %}
        <p style="color:red;">{{ error_message }}</p>
    {% endif %}

    {% if order_details %}
        <h2>訂單詳情</h2>
        <li>訂單編號: {{ order_details.order_id }}</li>
        <li>車次: {{ order_details.train_id }}</li>
        <li>乘車地點: {{ order_details.destination }},{{order_details.departure}}</li>
        <li>乘車時間: {{ order_details.depart_time }}</li>
        <li>預計抵達時間: {{ order_details.arrive_time }}</li>
        <li>訂單狀態: {{ order_details.order_status }}</li>
        <li>付款期限: {{order_details.pay_expire_date}}</li>
        <li>訂票人: {{ order_details.name }}</li>
        <li>聯絡電話: {{ order_details.phone }}</li>
        <li>電子信箱: {{ order_details.email }}</li>
        <li>總票數: {{ order_details.total_tickets }}</li>
        <h3>票券詳情</h3>
        <ul>
            {% for ticket in order_details.tickets %}
                <li>{{ ticket.ticket_type }}*{{ ticket.ticket_count }}</li>
                <li>總金額: {{ order_details.total_price }}</li>
            {% endfor %}
        </ul>
        
        <form method="POST" action="{{ url_for('delete_order') }}">
            <input type="hidden" name="id_no" value="{{ id_no }}">
            <input type="hidden" name="order_id" value="{{ order_details.order_id }}">
            <input type="submit" value="取消訂單">
        </form>
    {% endif %}
    
</body>
</html>
