<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Search Trains</title>
    <!-- 連結 HTML 和 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <!-- 連結 HTML 和 JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>

</head>
<body>
    <h1>Search for Trains</h1>
    <div id="query_train">
        <!-- 設置required, 當必填欄位未填寫時會阻止提交 -->
        <form action="{{ url_for('query_train') }}" method="POST">

            <label for="booking_date">訂票日期:</label>
            <select id="booking_date" name="booking_date" required></select>
            <span id="booking_date_error" class="error"></span>
            <br>
            
            <label for="start_time">開始時間:</label>
            <select id="start_time" name="start_time" required></select>
            <span id="start_time_error" class="error"></span>
            <br>

            <label for="end_time">結束時間:</label>
            <select id="end_time" name="end_time" required></select>
            <span id="end_time_error" class="error"></span>
            <br>

            <label for="departure">出發車站:</label>
            <input type="text" id="departure" name="departure" list="departure_stations" required>
            <datalist id="departure_stations">
                {% for station in stations %}
                <option value="{{ station }}"></option>
                {% endfor %}
            </datalist>
            <span id="departure_error" class="error"></span>
            <br>

            <label for="destination">抵達車站:</label>
            <input type="text" id="destination" name="destination" list="destination_stations" required>
            <datalist id="destination_stations">
                {% for station in stations %}
                <option value="{{ station }}"></option>
                {% endfor %}
            </datalist>
            <span id="destination_error" class="error"></span>
            <br>

            <label for="counting">車票數量:</label>
            <input type="number" id="counting" name="counting" value="1" min="1" max="6" required>
            <span id="counting_error" class="error"></span>
            <br>

            <label for="train_type">列車類型:</label>
            <select id="train_type" name="train_type" required>
                <option value="Tze-Chiang">自強號</option>
                <option value="Chu-Kuang">莒光號</option>
            </select>
            <span id="ticket_type_error" class="error"></span>
            <br>

            <input type="submit" value="Search">
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
    
</body>
</html>
